---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A propos | Tazi Mohamed " description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Qui suis-je ?"
				tagline="Découvrez mon parcours et mes compétences"
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Code"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Depuis maintenant près de 8 ans, je suis passionné par le monde de l'informatique, 
						j'ai commencé par m'intéresser d'abord au ordinateur (comment ça fonctionne,
						fabrique, monte, etc..), j'ai tout de suite accrocher et je me suis dis qu'en faire mon secteur 
						d'activité était ce que je voulais, cette décision m'a dirigé 
						vers un Bac Pro Systèmes Numériques Option RISC.
						
					</p>
					<p>
						J'ai découvert les languages de programmation avec 
						l'HTML/CSS durant mon année de seconde, mais mon diplôme étant porter plus
						sur le métier d'administrateur réseau, je n'ai pas eu la possibilités d'approfondir tout de suite, 
						à la suite de l'obtention de mon Bac Pro je me suis donc tourner
						vers un BTS SIO Option SLAM car c'est ce que je voulais faire.
						
					</p>
					<p>
						Cette fois j'ai pu approfondir mes connaissances, j'ai pu découvrir notamment le C#, Php, MySql, la programmation orientée objet, et l'architecture MVC,
						mais par dessus tout cette formation m'a apporter les qualités recquise pour être développeur.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p> - Bac Professionnel Systèmes Numériques option Réseaux Informatique et Systèmes Communiquant <br>
						- BTS SIO option Solutions Logiciels et Application Métiers</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Qualités</h2>
				<div class="content">
					<p>Sérieux, Motiver, Autonome, Organisé, Dynamique, Curieux</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
