---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>Pourquoi se limiter à un quand on peut faire les deux 😉 <br> Plus sérieusement je trouve ça plus enrichissant de mon point de vu d'étudiant, <br> ce qui me tient plus à coeur d'être full-stack</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="Team" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Travail d'équipe</h2>
		<p>J'aime travailler en équipe <br> Je trouve cela beaucoup plus enrichissant d'avoir le point de vue et les méthodes de travail de chacun, on peut toujours en apprendre davantage</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="sketch-logo" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Compétences Principales</h2>
		<p>C# / C / JAVA / Javascript / Php </p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
